#listContainer {
    min-height: 60vh;
    padding: 0.75rem;

    .listTitle{
       display: flex;
       justify-content: space-between;
       align-items: flex-end;
       border-bottom: 2px solid #000;

       button{
        font-size: 1rem;
        background-color: $clear-button-color;
        padding: 0 0.1rem;
        margin-bottom: 0.5rem;
        @include mp(768px){
            padding: 0 0.5 rem;
        }
       }
    }
      
    .item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;
    }

    .icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1rem; 
    }

    input[type="checkbox"]{
        text-align: center;
        width:2.5rem;
        min-width: 48px;
        height:2.5rem;
        min-height: 48px;
        margin-right: 1rem;
        cursor: pointer;
    }

    input[type="checkbox"]:focus + label {
        text-decoration: underline;
    }

    label{
        font-size: 1.1rem;
    } 
}